.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/app/public/*
!storage/app/public/.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/backup-temp
tests
.phpunit.result.cache
INSTALLATION.md
README.md
